/* colors */
.is-transparent {
  background: transparent;
  background-color: rgba(0,0,0,0);
}
.hidden {
  display: none !important;
}

/* typo */
#home .title {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 8px;
  text-align: center;
  margin-top: 60px;
}
#home .subtitle {
  text-align: center;
  font-family: monospace;
}
article {
  margin-bottom: 10px;
}
blockquote {
  border-left: 2px solid #333;
  display: block;
  margin: 2rem 1em;
  padding: 1rem 0;
}
blockquote:before {
  margin-top: -1rem;
  padding-left: 0.5rem;
  position: absolute;
  content: open-quote;
  font-family: "Georgia", serif;
  font-style: normal;
  font-size: 5rem;
  color: #00d1b2;
}
blockquote .quote-body {
  display: inline-block;
  padding-left: 3rem;
  font-size: 2.5rem;
  line-height: 2.5rem;
  color: #333;
  text-align: left;
}
blockquote .quote-signature {
  padding: 0 4rem;
  display: inline-block;
  font-style: italic;
  color: #333;
  opacity: 0.8;
}

/* img */
figure img.cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/*layout*/
html {
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  overflow: hidden;
  color: #212121;
  background-color: #fafafa;
  background-image: url('/assets/background.jpg');
  background-size: cover;
  height: 100vh;
}
.app-content {
  box-shadow: none;
  padding: 0;
  height: 100vh;
  overflow: auto;
  transition: background-color 0.2s ease;
}
.app-content.overlay {
  background-color: rgba(255, 255, 255, 0.6);
}
.app-body {
  width: 100%;
  min-height: 0;
}

/* nav */
.app-header .navbar-start {
  margin: 0 auto;
}
.app-header .navbar-end {
  margin: 0;
}
.app-header .navbar-item {
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.navbar-menu {
  position: absolute;
  width: 100%;
}

/* menu toggle */
.navbar-menu-toggle {
  color: #4a4a4a;
  cursor: pointer;
  display: block;
  height: 3.25rem;
  width: auto;
  margin: 0 auto;
  text-transform: uppercase;
  padding: 0.875rem;
  width: 5rem;
  text-align: center;
}
.navbar-menu-toggle span:after {
  content: 'Menu';
}
.navbar-menu-toggle:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.navbar-menu-toggle.is-active span:after {
  content: 'Close';
}

#watch-frame {
  padding: 17px 0px;
  height: auto;
  clear: both;
  position: relative;
}
#watch-frame .frame-outer {
  max-width: 100%;
  position: relative;
}
#watch-frame .frame-inner {
  padding-bottom: 56.2%;
}
#watch-frame iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 640px) {
  #watch-frame {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media screen and (min-width: 769px) {
  #watch-frame {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media screen and (min-width: 1023px) {
  #watch-frame {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}

@media screen and (min-width: 1088px) {
  .navbar-menu {
    position: static;
    width: auto;
  }
  .app-header .navbar-end {
    position: absolute;
    right: 0;
  }
  .navbar-menu-toggle {
    display: none;
  }
  #home {
    position: absolute;
    bottom: 0;
    padding: 0.5rem 1rem;
  }
  #home .title {
    text-align: left;
  }
  #home .subtitle {
    text-align: left;
  }
}
